# @generated

# GCC output
*.o
runtime/*.a

# Extracted dependencies
runtime/gc-7.6.4
!runtime/deps/*.gz

# Node
node_modules

# System Files
.DS_Store

## Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
**/node_modules
**/.pnp
**/.pnp.js

## Cache
.eslintcache
tsconfig.tsbuildinfo
.monorail
.codegen
workspaces.json

## Converage
coverage

## Compiled output
*.vsix
out
lib
**/bin/**
!bin/monorail
!bin/repo-codegen-services.js
build

# Generated
samlang-core/parser/generated

# additions
.yarn
**/bin/
**/out/
**/build/
**/dist/
