# Auto detect text files and perform LF normalization
* text=auto
.yarn/plugins/** linguist-generated=true
.yarn/releases/** linguist-generated=true
.yarn/sdks/** linguist-generated=true
configurations/* linguist-generated=true
samlang-cli/samlang-runtime/* linguist-generated=true
samlang-runtime/gc.h linguist-generated=true
samlang-runtime/gc.c linguist-generated=true
