# GCC/LLVM output
*.o
*.bc
runtime/*.a

# Extracted dependencies
runtime/gc-8.0.4
!runtime/deps/*.gz

# Node
node_modules

# System Files
.DS_Store

## Compiled output
*.vsix
out
**/bin/**
!bin/monorail
!bin/repo-codegen-services
build

## Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/node_modules
**/.pnp
**/.pnp.js

## Cache
.eslintcache
tsconfig.tsbuildinfo
.monorail
.codegen

## Converage
coverage
