# GCC/LLVM output
*.o
samlang-runtime/*.a
samlang-runtime/example
samlang-runtime/*.bc

# Libraries
samlang-runtime/compiled-wasi-libc

# Node
node_modules

# System Files
.DS_Store

## Compiled output
*.vsix
out
bin
build
workspaces.json
bundles

## Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/cache
!.yarn/sdks
!.yarn/versions
**/node_modules
**/.pnp
**/.pnp.js
**/.pnp.cjs

## Cache
.eslintcache
tsconfig.tsbuildinfo

## Converage
coverage
